.sidebarContainer {
  width: 70px;
  height: 100vh;
  background-color: #000000;
}

.topDiv {
  width: 100%;
  background-color: red;
  height: 70px;
}

.circle {
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}

.navigationsDiv {
  height: 45%;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.sidebarLogos {
  width: 100%;
  border: none;
  background: none;
  outline: none;
}

.sidebarLogos .logo {
  width: 24px;
  height: 24px;
}

.logo5 {
  border-left: 3px solid #fbba07;
}

.sidebarLogos .logo3 {
  width: 18px;
}

.bottomDiv {
  height: 30%;
  display: flex;
  row-gap: 25px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
